@model ArticlesViewModel

    <head>
        <link href="~/css/site.css" rel="stylesheet" type="text/css" />

    </head>

@await Html.PartialAsync("_Header")
<div id="header">
    <h2>Poniżej zamieszczam spis najnowszych wydarzeń z Polski:</h2>
    <br />
</div>
<hr  id="divider"/>
@foreach (var article in Model.ListViewModel)
{
<div class="extensible"><i class="fas fa-angle-double-down" id="scroll" onclick="showHideArticle(@article.ID)"></i> @article.Title
    <div class="article" id="@article.ID">
        <p class="link">(opublikowano: @article.PublicationDate) <a href="@article.Link">Link do artykułu</a></p>
        <p class="content">@article.Content</p>
    </div>
</div>
}
